<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Group</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <script type="text/javascript" src="js/avail.js"> </script>
</head>
<body>
    <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-6">
            <h1>Group Page</h1>
        </div>

        <div class="col-12 col-lg-6">
            <!-- separator -->
        </div>

        <div class="col-12 col-lg-6">
            <!-- <h2>Welcome (add userid here)</h2>-->
            <h2>Welcome (add userid here)<br><br></h2>
        </div>

        <div class="col-12 col-lg-6">
            <!-- separator -->

        </div>

        <!-- get groups user is in, and add them in here-->
        <select>
            <option value="group1">Group 1</option>
            <option value="group2">Group 2</option>
            <option value="group3">Group 3</option>
        </select>

        <div class="col-12 col-lg-6">
            <!-- separator -->
        </div>

        <!-- add match button here, should do the matching trick-->

        <!-- show matched table here, should show results of button above-->


        <div class="col-12 col-lg-6">
            <!-- separator -->
            <h2><br><br><br><br><br><br></h2>
        </div>


        <!-- not sure why these are off-set from top stuff by so much. -->
        <!--<div class="col-12 col-lg-6"><!-- should be on bottom, away from other stuff -->
            <!--<div class="col-12 col-lg-6">-->
        <div class="col-12 col-lg-6">
                <a href="/profile" class="btn btn-lg btn-outline-dark">Profile </a>
            <!--</div>-->

                <a href="/logout" class="btn btn-lg btn-outline-dark">Log out</a>
            </div>
        <!--</div>-->






    </div>
</body>
</html>