<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Group</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/group.js"> </script>
</head>
<body onload="getUserInfo()">
    <div class="row justify-content-center text-center">
        <h1>Group Schedules</h1>
    </div>
    <div class="row justify-content-center text-center">
        <h2 id="welcome-user"></h2>
    </div>
    <div class="row justify-content-center text-center">
        <!-- get groups user is in, and add them in here-->
        <select id="group-select" onchange="switchTable()">
            <option value="group1">Group 1</option>
            <option value="group2">Group 2</option>
            <option value="group3">Group 3</option>
        </select>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-4">
            <!-- show matched table here, should show results of button above-->
            <table class="table tableHeader">
                <tr>
                    <td class="dCell">Time</td>
                    <td class="aCell">Sun</td>
                    <td class="aCell">Mon</td>
                    <td class="aCell">Tues</td>
                    <td class="aCell">Wed</td>
                    <td class="aCell">Thurs</td>
                    <td class="aCell">Fri</td>
                    <td class="aCell">Sat</td>
                </tr>
            </table>
            <div id="group1" class="my-custom-scrollbar">
                <script> writeAvailTable(1);</script>
            </div>
            <div id="group2" class="my-custom-scrollbar display-none">
                <script> writeAvailTable(2);</script>
            </div>
            <div id="group3" class="my-custom-scrollbar display-none">
                <script> writeAvailTable(3);</script>
            </div>
        </div>
    </div>
    <!-- should be on bottom, away from other stuff -->
    <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-6">
                <a href="/profile" class="btn btn-primary btn-sm">Profile </a>
                <a href="/logout" class="btn btn-primary btn-sm">Log out</a>
        </div>
    </div>
</body>
</html>