<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Group</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <script type="text/javascript" src="js/avail.js"> </script>
</head>
<body>
    <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-6">
            <h1>Group Page</h1>
        </div>
        <div class="col-12 col-lg-6">
            <a href="/profile" class="btn btn-lg btn-outline-dark">Profile </a>
        </div>
        <div class="col-12 col-lg-6">
            <a href="/logout" class="btn btn-lg btn-outline-dark">Log out</a>
        </div>
    </div>
</body>
</html>