<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team Finder</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"> </script>
    <script type="text/javascript" src="js/profile.js"> </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center text-center">
            <h1>What would you like to do?</h1>
            <div class="col-12 col-lg-8">
                <a href="/profile" class="btn btn-primary btn-lg">Profile </a>
            </div>
            <div class="col-12 col-lg-8">
                <a href="/group" class="btn btn-primary btn-lg">Group </a>
            </div>
            <div class="col-12 col-lg-8">
                <a href="/logout" class="btn btn-primary btn-lg">Log out</a>
            </div>
        </div>
    </div>
</body>
</html>