<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Counselor Time Tool</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <div class = container>
    <div class="row justify-content-center text-center">
        <div class="col-8 col-md-6">
            <h1>Team Finder</h1>
            <form action="/login" method="post">
                <div class="form-group row">
                    <label class="col-form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username"/>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password"/>
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Log in</button>
                </div>
            </form>
            <p>
                Not registered? <a href="/register">Sign up now!</a>
            </p>
        </div>
    </div>
    </div>
</body>
</html>