<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <link rel="stylesheet" type="text/css" href="css/app_specific.css"/>
    <script type="text/javascript" src="js/avail.js"> </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
                <div class="col-12 col-sm-4">


                  <table class="table tableHeader">
                      <tr>
                          <td class="dCell">Time</td>
                          <td class="aCell">Sun</td>
                          <td class="aCell">Mon</td>
                          <td class="aCell">Tues</td>
                          <td class="aCell">Wed</td>
                          <td class="aCell">Thurs</td>
                          <td class="aCell">Fri</td>
                          <td class="aCell">Sat</td>
                      </tr>
                      </table>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <script> writeAvailTable();</script>

              </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        </div>
</body>
</html>