<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Counselor Time Tool</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-8 col-md-6">
            <h1>Create Login Credentials</h1>
            <form action="/register" method="post">
                <div class="form-group row">
                    <label class="col-form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username"/>
                </div>
                <div class="form-group row">
                    <label class="col-form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password"/>
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
            <p>
                Already registered? <a href="/login">Log in here!</a>
            </p>
        </div>
    </div>
</body>
</html>