.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.aCell {
    width:12% !important;
}
.dCell {
    width:16% !important;
}
.available{
    background-color: #2E8B57 !important;
}
.notAvailable{
    background-color: #b9bbbe !important;
}
.tableHeader{
    margin:0 !important;
}
