.btn-tall {
    min-height: 200px;
    margin: 15px;
    color: white;
    border-color: #000000;
}

.display-none {
    display: none;
}

.date-time-selection {
    margin-left: auto;
    margin-right: auto;
}

body div {
    font-size: medium;
}

table {
    font-size: small;
}

a.btn {
    margin: 15px;
}

h3 {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

#welcome-user {
    margin-bottom: 20px;
}

.row {
    margin: 10px;
}

.green {
    background-color: #1e7e34;
}

.red {
    background-color: #b21f2d;
}